
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, system, Segoe UI, Tahoma, -apple-system;
    padding: 20mm;
}

.section-left {
    display: inline-block;
    position: relative;
    max-width: 70%;
    height: 100%;
}

.section-right {
    padding: 5mm;
    vertical-align: top;
    display: inline-block;
    position: relative;
    max-width: 28%;
    height: 100%;
}

.nav-bar-small-item {
    list-style-type: none;
    padding: 5px;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
    float: right;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

/* CSS for the footer */

footer {
    padding: 30px 0px;
    background-color: #f4f4f4;
    color: #424242;
    width: 100%;
}

.footer-container {
    width: 80%;
    margin: auto;
    padding: 30px 0px;
    background-color: #f4f4f4;
}

.footer-address {
    padding-top: 30px;
}

.footer-light {
    font-size: 0.9em;
}

.footer-link-container, .footer-menu-container, .footer-address-container {
    padding-bottom: 30px;
}

.footer-link {
    margin-top: 15px;
    font-size: 0.9em;
}

.footer-link a {
    color: #000;
}

.social-media-container {
    width: 100%;
    position: relative;
    height: 80px;
}

.icon-list {
    width: 40%;
    padding-top: 30px;
    position: absolute;
    left: 40%;
    list-style-type: none;
}

.icon-list-item {
    display: inline-block;
}

.fa {
    max-width: 50px;
    color: #424242;
    transition: color 150ms;
}

.fa:hover {
    color: #000;
}

.fa-arrow-circle-o-right {
    margin-right: 5px;
}

.fa-arrow-circle-o-right:hover, .questions-list-item i:hover {
    color: #424242;
}

/* CSS for the Share/Published info */

.sharing-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.content-wrapper {
    width: 80%;
    margin-top: 10px;
    margin-left: 10px;
}

.sharing-left i, .sharing-right i {
    display: inline;
    font-size: 1.3em;
    margin: 5px;
}

.sharing-right i {
    color: #979797;
}

.sharing-right i:hover {
    color: #006ba1;
}

.sharing-left i {
    color: black;
}

.sharing-left, .sharing-right {
    padding: 10px;
}

.sharing-left {
    flex: 2;
    font-size: 1.1em;
}

.sharing-right {
    flex: 1;
    font-size: 1.2em;
    text-align: right;
    margin-right: 20px;
}

.sharing-list-item {
    display: inline;
    list-style-type: none;
}

.sharing-list-item a {
    text-decoration: none;
}

.share-span {
    display: none;
}

.publish-list {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.publish-list-item {
    list-style-type: none;
}

/* style for Picture Slider */
.galleryContainer {
    border: 1px solid #005C86;
    display: inline-block;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin: 1%;
    position: relative;
    vertical-align: middle;
}

.galleryContainer .content {
    display: block;
    padding: 20px;
    position: absolute;
    width: 100%;
}

.gallerySmallContainer {
    border: 1px solid black;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    z-index: 1;
    width: 50%;
    height: 50%;
}

h2 {
    color: black;
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    text-transform: capitalize;
}

.buttonPrev, .buttonNext {
    display: inline-block;
    font-size: 1.5rem;
    position: absolute;
    top: 45%;
}

.buttonPrev {
    left: 3%;
}

.buttonNext {
    right: 3%;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

/* style for container that holds multiple image-title-text combo
     and for image-title-text combo*/

.multi-imagetext-container {
    background-color: white;
    position: relative;
    flex-wrap: wrap;
    margin: 5mm;
    left: 1%;
    width: 100%;
}

.image-container {
    background-color: white;
    position: relative;
    display: inline-block;
    height: 400px;
    margin: 5mm;
    text-align: left;
    vertical-align: top;
    width: 240px;
    overflow: auto;
}

.image-container:hover {
    background: rgb(226, 218, 218);
}

.text-container {
    flex-wrap: wrap;
    text-align: left;
    text-decoration: none;
    margin: 10mm;
    padding: 5mm;
    width: 100%;
    height: auto;
    overflow: auto;

}

a {
    text-decoration: none;
    
}

i {
    font-size: 2rem;
    text-decoration: none;
}

.top-right-search-box {
    float: right;
    width: 6mm;
    height: 6mm;
    right: 5%;
    position: absolute;
}

.page-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    display: inline-block;
}

.main-content {
    flex: 3;
    margin-top: 10px;
    margin-left: 10px;
}

.box-with-shadow {
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
}

.customer-feedback-box {
    background-color: #f4f4f4;
    border: 1px solid #e5e5e5;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
    padding: 16px;
    border-radius: 2px;
    margin-top: 20px;
}

.customer-feedback-title-box {
    color: #252525;
    font-size: 19px;
    line-height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.customer-feedback-paragraph-box {
    font-size: .8em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.kontaktcenter a {
    color: #ae0b05;
    text-decoration: none;
}

.customer-feedback-btn-ja {
    border-radius: 2px;
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;
    padding: 8px 16px;
    font-family: system, "Segoe UI", Tahoma, -apple-system;
    font-size: .9em;
    font-weight: 500;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 2.66667px;
}

.customer-feedback-btn-nej {
    border-radius: 2px;
    background-color: #e5e5e5;
    border: 2px solid #e5e5e5;
    appearance: none;
    display: inline-block;
    padding: 8px 16px;
    font-family: system, "Segoe UI", Tahoma, -apple-system;
    font-size: .9em;
    font-weight: 500;
    line-height: 1.3;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 2.66667px;
}

.customer-feedback-btn-ja:hover {
    background-color: rgb(195, 195, 195);
}

.customer-feedback-btn-nej:hover {
    background-color: rgb(195, 195, 195);
}


.nav-items-body {
    width: 100%;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.nav-items-header {
    margin-bottom: .8rem;
}

.nav-items-header-text {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
}


.color-title {
    color: #005C86;
}

.multi-imagetext-container-nomargin {
    background-color: white;
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
    width: 98%;
}

.image-container-xs {
    padding: 2mm;
    background-color: white;
    position: relative;
    display: inline-block;
    height: 400px;
    text-align: left;
    vertical-align: top;
    width: 49%;
}

.box-blue-whitetext {
    background-color: #0069b4;
    color: white;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: small;
}

.box-blue-whitetext a:visited {
    color: white;
}

.box-blue-whitetext .fa-arrow-circle-o-right {
    color: rgba(255, 255, 255, .6);
}

ul.box-blue-whitetext {
    list-style-type: none;
}

.image-box-container {
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
    max-height: 300px;
    min-height: 300px;
    overflow: hidden;
    margin-top: 10px;
}

.image-box-container {
    text-decoration: none;
}

.dot:hover {
    background-color: #005C86;
}
